* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f5fffb, #eefaf6);
  color: #0f172a;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #334155;
}

.btn-outline {
  background: transparent;
  border: 1px solid #cbd5e1;
  padding: 8px 14px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-primary {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.highlight {
  color: #22c55e;
}

.hero-left p {
  color: #475569;
  max-width: 500px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-green, .btn-blue {
  padding: 16px 20px;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.btn-green {
  background: #22c55e;
}

.btn-blue {
  background: #3b82f6;
}

.buttons span {
  font-size: 12px;
  opacity: 0.9;
}

/* CARD */
.hero-right {
  width: 35%;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.card-icon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #475569;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
}

.card li {
  font-size: 14px;
  margin-bottom: 10px;
}
